{% extends 'header.html' %}

{% load static %}

{% block cuerpo %}

<div class="wrapper-pad">
	<h2>{{ titulo }}</h2>

	<form method="post" action="" class="form-horizontal" enctype='multipart/form-data'>
		{% csrf_token %}
		<table>
			{% for field in form %}
				<tr>
					<td width="20%"></td>
					<td>
						{% if 'Foto' in field.label|stringformat:'s' %}
							{% if persona.foto %}
								<img src="{{ persona.foto.url }}" height='50' width='50' />
							{% endif %}
						{% endif %}
						{% if 'Certificado' in field.label|stringformat:'s' %}
							{% if persona.certificado %}
								<img src="{{ persona.certificado.url }}" height='50' width='50' />
							{% endif %}
						{% endif %}
						{{ field.label_tag }}
					</td>
					<!-- <td>{ { field }}</td> -->
					<!-- <td>{ { field.label_tag }} { { field }}</td>  -->
					<td>
					{% if pagina != 4 %}
						{{ field }}
					{% else %}
						{% if 'Activa' in field.label_tag|stringformat:'s' %}
							<select name="activa" style="width:100px; height:25px;" align="right">
								<option value="1"
								{% if field.value == 1 %}
									selected="selected"
								{% endif %}	
								>Activa</option>
								<option value="0"
								{% if field.value == 0 %}
									selected="selected"
								{% endif %}	
								>No Activa</option>
							</select>
						{% else %}
							{{ field }}
						{% endif %}
					{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
		<br>
		<input type="submit" class="ni btn blue" value="Guardar datos" />
		<br><br>
	</form>

	<div class="clear" style="margin-bottom:40px;"></div>
	<div class="border" style="margin-bottom:30px;"></div>

</div>
{% endblock %}

